* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  background-image: url(images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.container {
  display: flex;
  align-items: flex-end;
  gap: 2rem;

  .left-side {
    background: hsl(228, 56%, 26%);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 20px 100px 20px 20px;
    display: flex;
    flex-direction: column;

    .logo {
      padding: 1rem;
      img {
        width: 50%;
      }
    }
    .file-logos {
      display: flex;
      gap: 1rem;
      padding: 1rem 7rem 2rem 1rem;

      .file-bg {
        background-color: hsl(229, 57%, 11%);
        width: 55px;
        height: 55px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        img {
          width: 30%;
        }
      }
    }
  }
  .right-side {
    border-radius: 1rem;
    padding: 2rem;
    background: hsl(228, 56%, 26%);
    position: relative;
    width: 600px;

    p {
      color: hsl(243, 100%, 93%);
      padding: 1rem 0;
      font-weight: 400;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
    }
    .status-line {
      width: 100%;
      height: 16px;
      background: hsla(229, 57%, 11%, 0.3);
      border-radius: 20px;
      overflow: hidden;
      padding: 0.2rem;
    }
    .gradient {
      width: 81.5%;
      height: 100%;
      border-radius: 20px;
      background: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
      );
      opacity: 1;
    }
    .dot {
      margin-left: 29.4rem;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: hsl(243, 100%, 93%);
    }
    .gb {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      color: hsl(243, 100%, 93%);
      font-weight: 700;
      text-transform: uppercase;
    }
    .popup-msg {
      position: absolute;
      top: -35px;
      right: 30px;
      background: hsl(243, 100%, 93%);
      padding: 1rem 1rem;
      border-radius: 5px;
      font-weight: 700;
      font-size: 28px;

      span {
        font-size: 10px;
        color: hsl(229, 7%, 55%);
      }
    }

    .popup-msg::after {
      content: "";
      position: absolute;
      top: 55px;
      right: 0px;
      border-left: 40px solid transparent;
      border-right: 0px solid transparent;
      border-top: 40px solid hsl(243, 100%, 93%);
    }
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 80%;
    flex-direction: column;

    .left-side {
      max-width: 90%;

      .file-logos {
        max-width: 100%;
      }
      .file-bg {
        max-width: 100%;
      }

    }
    .right-side {
      max-width: 80%;
      p {
        text-align: center;
      }
      .dot {
        margin-left: 11rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: hsl(243, 100%, 93%);
      }
      .gb {
        font-size: 14px;
      }
      .popup-msg {
        position: absolute;
        top: 140px;
        right: 80px;
        background: hsl(243, 100%, 93%);
        padding: 1rem 2rem;
        border-radius: 5px;
        font-weight: 700;
        font-size: 28px;
      }
      .popup-msg::after {
        content: none;
      }
    }
  }
}
